{{> header }}
{{> admin/adminNav}}

<h1>Inventory</h1>

<table>
  <thead>
    <tr>
      <th>Pantry Location</th>
      <th>Item Type</th>
      <th>Item Name</th>
      <th>Item Quantity</th>
      <th>Weight</th>
      <th>Expiration Date</th>
      <th>Harvest Date</th>
      <th>Confirmed</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#inventory}}
    <tr>
      <td>{{pantryLocation}}</td>
      <td>{{itemType}}</td>
      <td>{{itemName}}</td>
      <td>{{itemQuantity}}</td>
      <td>{{Weight}}</td>
      <td>{{ExpirationDate}}</td>
      <td>{{HarvestDate}}</td>
      <td>{{confirmed}}</td>
      <td>
        <form action="/admin/deleteInvItem" method="POST">
            <input type="hidden" name="itemId" value="{{_id}}">
            <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{/inventory}}
  </tbody>
</table>