{{> header }}
{{> navbar}}

<div class="container my-3">
    <div class="row">
        <div class="col-md-auto"></div>

        <div class="col-md-auto">
            <!-- Column for the logo image -->
            <div class="d-flex justify-content-center">
                <img src="/images/TSPN_logo enhanced.png" alt="TSPN Logo" class="img-fluid">
            </div>
        </div>

        <div class="col-md-auto my-5">
            <div class="index-content">
                <h1 class="text-center">Scottish Pantry Network</h1>
                <p class="text-center mx-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard daker including versions of Lorem Ipsum..</p>
                <div class="text-center">
                    <a href="/user/register" class="btn btn-primary btn-lg">Sign Up</a>
                </div>
            </div>
        </div>

        <div class="col-md-auto"></div>
    </div>
</div>