{{> header }}
{{> navbar}}

<!--section to hold image -->
<div class="row no-gutters">
    <div class="col-12 col-sm-6 col-md-7">
    <img src="/images/TSPN_logo enhanced.png" alt="TSPN Logo" style="width: 75%;">
</div>

<!--section to hold info-->
<div class="col-4 col-md-4">

    <div class="index-content">
    
    <h1>Scottish Pantry Network</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard daker including versions of Lorem Ipsum..</p>
    <a href="#" class="btn btn-primary">Sign Up</a>
    

    <div>
        <!-- Social Media Links -->
        <a href="#" class="btn btn-social-icon btn-facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="btn btn-social-icon btn-twitter"><i class="fab fa-twitter"></i></a>     
    </div>

    </div>

</div>

{{> footer }}
