
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container-fluid">
        
        
        <!-- Left side -->
        <div>
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/">
            <p>THE SCOTTISH PANTRY NETWORK</p>
            </a>
            </div>
            <!-- Left side end -->
        
        
            <!-- Right elements -->
            <div class="d-flex align-items-center">
            
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/user/login">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/user/register">Register</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/user/register">placeholder</a>          
                </li>
            </ul>
            <!-- Right elements End -->
        </div>
        
        
    </div>
    </nav>
    <!-- Navbar -->


    <!-- Your content goes here -->
    <div class="container">
        {{{ body }}} <!-- This will inject the body content -->
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
