<!-- Sponsors Section -->
<section class="sponsors-section pb-5">
    <h1 class="text-center">Special Thanks to Our Partners & Suppliers</h1>
    <div class="container my-5">
        <!-- Sponsor Carousel -->
        <div id="sponsorCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="/images/Spns1.png" class="d-block" alt="Sponsor 1">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="/images/Spns2.png" class="d-block" alt="Sponsor 2">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="/images/Spns3.png" class="d-block" alt="Sponsor 3">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#sponsorCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#sponsorCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- End Sponsor Carousel -->
    </div>
</section>
<!-- End Sponsors Section -->
