
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand mx-auto" href="/user/home">
            <p class="fs-4 fs-md-3 fs-lg-2">THE SCOTTISH PANTRY NETWORK</p>
        </a>

        <!-- Hamburger menu button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                
                <li class="nav-item">
                     <a class="nav-link" href="/user/home">Welcome, {{ user.firstName }}</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/userDonate">Donate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="user/userContact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                </li>

      
            </ul>
        </div>
    </div>
</nav>
