{{> header }}
{{> user/userNav }}

<div class="container my-5 d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-8">
            <!-- Column for the logo image -->
            <div class="d-flex justify-content-center text-center">
                <img src="/images/TSPN_logo enhanced.png" alt="TSPN Logo" class="img-fluid">
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="registration-content">
                <h2 class="text-center mb-4">Make a Donation</h2>
                <form id="donationForm" action="/user/newDonation" method="POST" class="text-center">
                    <div class="form-group">
                        <label for="itemType">Item Type</label>
                        <select name="itemType" class="form-control" required onchange="toggleHarvestDate(this)">
                            <option value="Canned Goods" selected>Canned Goods</option>
                            <option value="Fruit/Veg">Fruit/Veg</option>
                            <option value="Meat/Poultry">Meat/Poultry</option>
                            <option value="Fish">Fish</option>
                            <option value="Grains">Grains</option>
                            <option value="Milk Products">Milk Products</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group harvestDateWrapper" style="display: none;">
                        <label for="harvestDate">Harvest Date</label>
                        <input type="date" name="harvestDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="itemName">Name</label>
                        <input type="text" name="itemName" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="itemQuantity">Quantity</label>
                        <input type="number" name="itemQuantity" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="weight">Weight</label>
                        <input type="text" name="weight" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="expirationDate">Expiration Date</label>
                        <input type="date" name="expirationDate" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pantryLocation">Pantry Location</label>
                        <select name="pantryLocation" class="form-control" required>
                            <option value="Pantry1">Pantry1</option>
                            <option value="Pantry2">Pantry2</option>
                           
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Donate</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{> sponsers }}
{{> footer }}

<script>
    function toggleHarvestDate(selectElement) {
        const selectedItemType = selectElement.value;
        const itemSection = selectElement.closest('.registration-content');
        const harvestDateWrapper = itemSection.querySelector('.harvestDateWrapper');
        
        if (selectedItemType === "Fruit/Veg") {
            harvestDateWrapper.style.display = "block";
        } else {
            harvestDateWrapper.style.display = "none";
        }
    }
</script>
