

.navbar-brand > p {
  font-family: 'Montserrat', sans-serif;
}


.navbar-nav .nav-link {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  text-align: right;
}
.navbar {
  border-bottom: 1px solid #918d8d; 
}





.index-content h1 {
  font-family: 'Montserrat', sans-serif;
}


.index-content p {
  font-family: 'Montserrat', sans-serif;
}


.index-content .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem; 
}

.index-content .btn-social-icon {
  font-size: 1rem; 
  margin-right: 0.5rem; 
}

.sponsors-section{
  font-family: 'Montserrat', sans-serif;
}

#sponsorCarousel .carousel-inner img {
  max-width: 40%;
  max-height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    display: none; /* Hide carousel control buttons */
}

.registration-content{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
}