
.navbar-brand > p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 50px;
    
}

.navbar-nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #333;

}



.index-content {
  padding-top: 130px; 
  padding-right: 100px;
}

.index-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 100px; 
  margin-bottom: 20px; 
}

.index-content p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px; 
  margin-bottom: 40px; 
  padding-right: 150px;
}

.index-content .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px; 
}

.index-content .btn-social-icon {
  font-size: 20px; 
  margin-right: 10px; 
}